<script src="~/js/edi.js"></script>
<link href="~/css/edi.css" rel="stylesheet" />
<link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/3455/PNG/96/download_folder_file_icon_219503.png" type="image/x-icon" />
<div class="container">

    <div hidden class="InvoicingLoaderContainer" id="EdiLoader">
        <div class="s1">
            <div class="s b sb1"></div>
            <div class="s b sb2"></div>
            <div class="s b sb3"></div>
            <div class="s b sb4"></div>
        </div>
        <div class="s2">
            <div class="s b sb5"></div>
            <div class="s b sb6"></div>
            <div class="s b sb7"></div>
            <div class="s b sb8"></div>
        </div>
        <div class="bigcon">
            <div class="big b"></div>
        </div>
    </div>
    <div class="tabs">
        <button class="tab-button" onclick="showSection('table-section')">Latest Edi Upload</button>
        <button class="tab-button" onclick="showSection('upload-section')">Upload EDI</button>
    </div>


    <div class="sections">
        <!-- Table Section -->
        <div id="table-section" class="section active">
            <div class="table-container">
                <button onclick="CheckSites()" class="CheckSitesButton">Check Sites</button><br />
                <button onclick="MaskedCardCheck()" class="CheckSitesButton">Check For Masked Cards</button>
                <table id="FailedSitesTable">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <h3>Latest Edi Upload</h3>
                <table id="EdiTable" class="data-table">
                    <thead>
                        <tr>
                            <th>Control ID</th>
                            <th>Day Of Week</th>
                            <th>Creation Date</th>
                            <th>Creation Time</th>
                            <th>Record Count</th>
                            <th>Total Quantity</th>
                            <th>Network</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.EDIs)
                        {
                            <tr onclick="HighlightRow(this);">
                                <td>@item.ControlId</td>
                                <td>@item.DayOfTheWeek</td>
                                <td>@item.CreationDate.ToString()</td>
                                <td>@item.CreationTime.ToString()</td>
                                <td>@item.RecordCount</td>
                                <td>@item.TotalQuantity</td>
                                <td data-network="@item.Network"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="upload-section" class="section">
            <div class="UploadEdi">
                <h2>Upload EDI File</h2>
                <form onsubmit="ProcessEdis(event)">
                    <input type="file" id="ediFile1" name="ediFile1" accept=".txt" onchange="displayFileName(this, 'fileName1')">
                    <div id="fileName1" class="file-name"></div>
                    <input type="file" id="ediFile2" name="ediFile2" accept=".txt" onchange="displayFileName(this, 'fileName2')">
                    <div id="fileName2" class="file-name"></div>
                    <input type="file" id="ediFile3" name="ediFile3" accept=".txt" onchange="displayFileName(this, 'fileName3')">
                    <div id="fileName3" class="file-name"></div>
                    <input type="file" id="ediFile4" name="ediFile4" accept=".txt" onchange="displayFileName(this, 'fileName4')">
                    <div id="fileName4" class="file-name"></div>
                    <button type="submit">Process EDI</button>
                  
                </form>
            </div>
        </div>

    </div>
</div>
